.grid{
    display: flex;
    flex-direction: column;

    .top{
        display: flex;
        justify-content: center;
        gap: 2rem;
        .grid-card{
            background-color: #4A288E;
            color: white;
            padding: 1rem 2rem 0rem 2rem;
            text-align: center;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            border-radius: 1rem;
            gap: 1rem;
            p{
                font-size: 2rem;
                font-weight: 600;
            }
            .green{
                color: #7EFD46;
                font-size: medium !important;
                font-weight: 600 !important;
            }
            .link{
                font-weight: 600 !important;
                font-size: small;
                span{
                    font-size: small;
                }
            }
        }
    }

    .bottom{
        display: flex;
        justify-content: space-between;
        border: 1px solid #CDCDCD;
        padding: 2rem 2rem 0rem 2rem;
        border-radius: 1rem;
        margin: 2rem 3rem;

        .left{
            line-height: 2;
            .icons{
                span{
                    margin-right: 1rem;
                    color: #8918EC;
                    background-color: #F8F3FE;
                    padding: 0.5rem;
                    border-radius: 1rem;
                }
            }
        }

        .right{
            width: 20%;
            height: 10rem;
            img{
                max-width: 100%;
                max-height: 100%;
                border-radius: 1rem;
            }
        }
    }

}